# Maven target directory
target/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Backup & temp files
*~
*.swp
